* {
    background: #d9d9d9;
  }
  
#clock {
    font-size: 150px;
    width: 900px;
    text-align: center;
    border-radius: 15px;
    background: black;
    color: white;
    margin: auto;
    display: grid;
}
  
p {
    text-align: center;
    margin-bottom: 30px;
}
  
h1 {
    text-align: center;
    margin-top: 50px;
}

/* -- Media Query -- */

@media only screen and (max-width: 950px) {
    #clock {
        width: 600px;
        font-size: 100px;
        padding: 10px;
    }

    h1 {
        padding: 20px;
    }
}

@media only screen and (max-width: 700px) {
    #clock {
        width: 550px;
        font-size: 80px;
    }
}

@media only screen and (max-width: 650px) {
    #clock {
        width: 400px;
        font-size: 70px;
    }
}

@media only screen and (max-width: 500px) {
    #clock {
        font-size: 50px;
        width: 300px;
    }
}

@media only screen and (max-width: 450px) {
    #clock {
        font-size: 40px;
        width: 300px;
}

@media only screen and (max-width: 350px) {
    #clock {
        width: 250px;
    }
}

@media only screen and (max-width: 300px) {
    #clock {
        width: 220px;
    }
}
